In [1]:
import pandas as pd

In [4]:
df_topics=pd.read_csv('topics-quantified.csv')
df_cleandata = pd.read_csv('cleandataset.csv', header=0)

In [5]:
df_topics.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,22,23,24,25,26,27,28,29,paper,artid
0,0,0.017375,0.000000,0.015730,0.000000,0.008295,0.000000,0.000000,0.000000,0.001628,...,0.000000,0.0,0.008198,0.000000,0.000000,0.000000,0.000000,0.000000,fox,fox0
1,1,0.000000,0.000000,0.047274,0.000000,0.098946,0.007403,0.028091,0.051076,0.007438,...,0.034271,0.0,0.000000,0.000000,0.001151,0.004466,0.083971,0.005059,fox,fox1
2,2,0.012026,0.115732,0.037369,0.002870,0.000266,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.001301,0.002199,0.000000,0.000000,0.000000,0.000000,fox,fox2
3,3,0.009275,0.000000,0.000000,0.001275,0.212295,0.001132,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
4,4,0.036537,0.000000,0.001230,0.000000,0.216947,0.001178,0.004676,0.000000,0.000000,...,0.037148,0.0,0.005262,0.000000,0.000000,0.000000,0.053523,0.000000,fox,fox4

In [6]:
df_cleandata.head()

,Unnamed: 0,aid,paper,author,date,url,content,clean_content
0,0,fox0,fox,['Adam Carrington'],2018-03-03 00:00:00,http://www.foxnews.com/opinion/2018/03/03/supr...,The debate about how to deal with guns in our ...,"['debate', 'deal', 'gun', 'country', 'rage', '..."
1,1,fox1,fox,"['Kaitlyn Schallhorn', '- Jonas Oransky', 'Eve...",2018-03-01 00:00:00,http://www.foxnews.com/politics/2018/03/01/gun...,In the weeks after a gunman walked into a high...,"['week', 'gunman', 'walked', 'high', 'school',..."
2,2,fox2,fox,['Kathleen Joyce'],2018-03-03 00:00:00,http://www.foxnews.com/us/2018/03/03/cmu-stude...,The 19-year-old student suspected of killing h...,"['19-year-old', 'student', 'suspected', 'killi..."
3,4,fox4,fox,['Gregg Re'],2018-03-02 00:00:00,http://www.foxnews.com/politics/2018/03/02/tru...,Just one day after putting the NRA on the defe...,"['one', 'day', 'putting', 'nra', 'defensive', ..."
4,5,fox5,fox,"['Brooke Singman', '- President Trump']",2018-03-01 00:00:00,http://www.foxnews.com/politics/2018/03/01/tru...,President Trump has touched off new tensions w...,"['president', 'trump', 'ha', 'touched', 'new',..."

In [7]:
#df6 = df_cleandata.set_index('aid').join(df_topics.set_index('artid'), how='left', lsuffix='_left', rsuffix='_right')
df6 = df_cleandata.set_index('aid').merge(df_topics.set_index('artid'), how = 'left')

In [8]:
df6.head()

,Unnamed: 0,paper,author,date,url,content,clean_content,0,1,2,...,20,21,22,23,24,25,26,27,28,29
0,0,fox,['Adam Carrington'],2018-03-03 00:00:00,http://www.foxnews.com/opinion/2018/03/03/supr...,The debate about how to deal with guns in our ...,"['debate', 'deal', 'gun', 'country', 'rage', '...",0.017375,0.000000,0.015730,...,0.000000,0.000000,0.000000,0.0,0.008198,0.000000,0.000000,0.000000,0.000000,0.000000
1,1,fox,"['Kaitlyn Schallhorn', '- Jonas Oransky', 'Eve...",2018-03-01 00:00:00,http://www.foxnews.com/politics/2018/03/01/gun...,In the weeks after a gunman walked into a high...,"['week', 'gunman', 'walked', 'high', 'school',...",0.000000,0.000000,0.047274,...,0.000000,0.000000,0.034271,0.0,0.000000,0.000000,0.001151,0.004466,0.083971,0.005059
2,2,fox,['Kathleen Joyce'],2018-03-03 00:00:00,http://www.foxnews.com/us/2018/03/03/cmu-stude...,The 19-year-old student suspected of killing h...,"['19-year-old', 'student', 'suspected', 'killi...",0.012026,0.115732,0.037369,...,0.006647,0.000741,0.000000,0.0,0.001301,0.002199,0.000000,0.000000,0.000000,0.000000
3,4,fox,['Gregg Re'],2018-03-02 00:00:00,http://www.foxnews.com/politics/2018/03/02/tru...,Just one day after putting the NRA on the defe...,"['one', 'day', 'putting', 'nra', 'defensive', ...",0.036537,0.000000,0.001230,...,0.000000,0.000000,0.037148,0.0,0.005262,0.000000,0.000000,0.000000,0.053523,0.000000
4,5,fox,"['Brooke Singman', '- President Trump']",2018-03-01 00:00:00,http://www.foxnews.com/politics/2018/03/01/tru...,President Trump has touched off new tensions w...,"['president', 'trump', 'ha', 'touched', 'new',...",0.000000,0.076489,0.049498,...,0.000000,0.000000,0.009334,0.0,0.009008,0.000000,0.000000,0.010096,0.000000,0.000000

In [9]:
df6mask = df6[df6['6']>0.1]

In [10]:
d6 = df6mask[['paper', 'author', 'date', 'content']]

In [11]:
outfile=open('topic6_papers.csv', 'w')
d6.to_csv(outfile)