In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from textblob import TextBlob
from textblob.sentiments import NaiveBayesAnalyzer

In [5]:
df = pd.read_csv('cleandataset.csv', header=0)
df.head()

,ind,aid,paper,author,date,url,content,clean_content
0,0,fox0,fox,['Adam Carrington'],2018-03-03 00:00:00,http://www.foxnews.com/opinion/2018/03/03/supr...,The debate about how to deal with guns in our ...,"['debate', 'deal', 'gun', 'country', 'rage', '..."
1,1,fox1,fox,"['Kaitlyn Schallhorn', '- Jonas Oransky', 'Eve...",2018-03-01 00:00:00,http://www.foxnews.com/politics/2018/03/01/gun...,In the weeks after a gunman walked into a high...,"['week', 'gunman', 'walked', 'high', 'school',..."
2,2,fox2,fox,['Kathleen Joyce'],2018-03-03 00:00:00,http://www.foxnews.com/us/2018/03/03/cmu-stude...,The 19-year-old student suspected of killing h...,"['19-year-old', 'student', 'suspected', 'killi..."
3,4,fox4,fox,['Gregg Re'],2018-03-02 00:00:00,http://www.foxnews.com/politics/2018/03/02/tru...,Just one day after putting the NRA on the defe...,"['one', 'day', 'putting', 'nra', 'defensive', ..."
4,5,fox5,fox,"['Brooke Singman', '- President Trump']",2018-03-01 00:00:00,http://www.foxnews.com/politics/2018/03/01/tru...,President Trump has touched off new tensions w...,"['president', 'trump', 'ha', 'touched', 'new',..."

In [6]:
def sentanal(tokens):
    sents=[]
    for tok in tokens:
        blob=TextBlob(tok, analyzer=NaiveBayesAnalyzer())
        sents.append(blob.sentiment)
    return sents

In [15]:
s1=[]
for cont in df['content']:
    myl=cont.split('.')
    line1=myl[0]
    s1.append(line1)

In [20]:
mysent=sentanal(s1)

In [25]:
mysent[:5]

[Sentiment(classification='pos', p_pos=0.9954586638537127, p_neg=0.004541336146284627),
 Sentiment(classification='neg', p_pos=0.23682905598571363, p_neg=0.763170944014283),
 Sentiment(classification='pos', p_pos=0.8995924032002689, p_neg=0.10040759679973492),
 Sentiment(classification='pos', p_pos=0.9989310360900759, p_neg=0.0010689639099280633),
 Sentiment(classification='pos', p_pos=0.9992331286327895, p_neg=0.000766871367211887)]

In [27]:
import csv

In [35]:
sentlist=[]
poslist=[]
neglist=[]
for item in mysent:
    sentlist.append(item.classification)
    poslist.append(item.p_pos)
    neglist.append(item.p_neg)

In [36]:
df['sent']=sentlist
df['p_pos']=poslist
df['p_neg']=neglist

In [37]:
df.head(5)

,ind,aid,paper,author,date,url,content,clean_content,sent,p_pos,p_neg
0,0,fox0,fox,['Adam Carrington'],2018-03-03 00:00:00,http://www.foxnews.com/opinion/2018/03/03/supr...,The debate about how to deal with guns in our ...,"['debate', 'deal', 'gun', 'country', 'rage', '...",pos,0.995459,0.004541
1,1,fox1,fox,"['Kaitlyn Schallhorn', '- Jonas Oransky', 'Eve...",2018-03-01 00:00:00,http://www.foxnews.com/politics/2018/03/01/gun...,In the weeks after a gunman walked into a high...,"['week', 'gunman', 'walked', 'high', 'school',...",neg,0.236829,0.763171
2,2,fox2,fox,['Kathleen Joyce'],2018-03-03 00:00:00,http://www.foxnews.com/us/2018/03/03/cmu-stude...,The 19-year-old student suspected of killing h...,"['19-year-old', 'student', 'suspected', 'killi...",pos,0.899592,0.100408
3,4,fox4,fox,['Gregg Re'],2018-03-02 00:00:00,http://www.foxnews.com/politics/2018/03/02/tru...,Just one day after putting the NRA on the defe...,"['one', 'day', 'putting', 'nra', 'defensive', ...",pos,0.998931,0.001069
4,5,fox5,fox,"['Brooke Singman', '- President Trump']",2018-03-01 00:00:00,http://www.foxnews.com/politics/2018/03/01/tru...,President Trump has touched off new tensions w...,"['president', 'trump', 'ha', 'touched', 'new',...",pos,0.999233,0.000767

In [44]:
df=df.drop('content', axis=1)

In [47]:
df=df.drop('clean_content', axis=1)

ValueError: labels ['clean_content'] not contained in axis

In [48]:
df.head(5)

,ind,aid,paper,author,date,url,sent,p_pos,p_neg
0,0,fox0,fox,['Adam Carrington'],2018-03-03 00:00:00,http://www.foxnews.com/opinion/2018/03/03/supr...,pos,0.995459,0.004541
1,1,fox1,fox,"['Kaitlyn Schallhorn', '- Jonas Oransky', 'Eve...",2018-03-01 00:00:00,http://www.foxnews.com/politics/2018/03/01/gun...,neg,0.236829,0.763171
2,2,fox2,fox,['Kathleen Joyce'],2018-03-03 00:00:00,http://www.foxnews.com/us/2018/03/03/cmu-stude...,pos,0.899592,0.100408
3,4,fox4,fox,['Gregg Re'],2018-03-02 00:00:00,http://www.foxnews.com/politics/2018/03/02/tru...,pos,0.998931,0.001069
4,5,fox5,fox,"['Brooke Singman', '- President Trump']",2018-03-01 00:00:00,http://www.foxnews.com/politics/2018/03/01/tru...,pos,0.999233,0.000767

In [49]:
outfile = open('sentiments.csv', 'w')
df.to_csv(outfile)

In [52]:
grp=df.groupby('paper').mean()

In [53]:
grp['diff']=grp['p_pos']-grp['p_neg']

In [54]:
grp

                   ind     p_pos     p_neg      diff
paper
atlantic   1531.877863  0.732416  0.267584  0.464832
blaze      1699.494152  0.676215  0.323785  0.352429
breitbart  1334.375000  0.673804  0.326196  0.347609
fox         988.916667  0.633744  0.366256  0.267487
huffpo     1348.053333  0.672732  0.327268  0.345463
inforwars  1509.355422  0.662066  0.337934  0.324132
msnbc      1708.478788  0.707671  0.292329  0.415343
npr        1761.176471  0.712623  0.287377  0.425245
nyt        1882.729814  0.704217  0.295783  0.408434
wsj        1164.936242  0.699469  0.300531  0.398938